@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --first-main-color: #ffffff;
  --second-main-color: #000000;
  --second-main-nex-color: #0000001a;
  --first-background-color: #444444;
  --second-background-color: #dcdcdc;
  --third-background-color: #ebebeb;
  --fourth-background-color: #f0f0f0;
  --fourth-background-next-color: #f0f0f0e6;
  --fifth-background-color: #c4c4c4;
  --sixth-background-color: #e5e5e5;
  --seventh-background-color: #cccccc;
  --first-additional-color: #ffe17f;
  --second-additional-color: #ffc700;
  --third-additional-color: #af4fff;
  --fourth-additional-color: #ffcc33;
  --error-status-color: #ff3d3d;
  --warning-status-color: #fd912e;
  --success-satatus-color: #08af00;
  --very-light-gray: #dcdcdc80;
  --third-black-color: #ffffff4d;
  --nero-color: #1a1a1a;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.button_second {
  display: block;
  border: none;
  text-align: center;
  background-image: linear-gradient(
    transparent 33%,
    var(--first-additional-color) 33%,
    var(--first-additional-color) 66%,
    transparent 66%
  );
}

.button_second:hover {
  background-image: none;
  background-color: var(--first-additional-color);
}

.button_second:active {
  background-image: none;
  background-color: var(--fourth-additional-color);
}

.button_second:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.button_second:disabled {
  opacity: 0.3;
}

.button_second.advantages__button:disabled {
  opacity: 1;
}

.title_second{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--second-main-color);
}

.link_phone {
  color: inherit;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* header */

.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 1;
}

.header > .container {
  position: relative;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  background-image: linear-gradient(
    var(--first-main-color) 40px,
    var(--first-additional-color) 40px
  );
}

.header_large > .container {
  padding-top: 18px;
  padding-bottom: 24px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.header__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.header__nav {
  display: grid;
  grid-template-columns: 517px 1fr;
  column-gap: 27px;
  row-gap: 35px;
  padding-bottom: 3px;
}

.header__search {
  display: flex;
}

.header__search-label:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.header__search-input {
  height: 40px;
  width: 359px;
  padding-left: 48px;
  color: var(--second-main-color);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-color: var(--second-main-color);
  background-color: inherit;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left 16px center;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.7 14.69-3.1-3.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.9-3.1-7-7-7s-7 3.1-7 7 3.1 7 7 7c1.6 0 3-.5 4.2-1.4l3.1 3.1c.2.2.4.3.7.3.6 0 1-.4 1-1 0-.2-.1-.5-.3-.7ZM2 7.39c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.2-5-5Z' fill='%23000'/%3E%3C/svg%3E");
}

.header__search-input::placeholder {
  opacity: 0.3;
}

.header__search-input:disabled {
  opacity: 0.3;
}

.search__button-wrapper {
  margin-left: -2px;
}

.search__button-wrapper:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.header__search-button {
  width: 160px;
  height: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-color: var(--second-main-color);
  background-color: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.search__button-text {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--second-main-color)
}

.header__search-button:hover:not(:disabled) {
  background-color: var(--second-main-color);
}

.header__search-button:hover:not(:disabled) > .search__button-text {
  color: var(--first-main-color);
}

.header__search-button:active:not(:disabled) > span {
  opacity: 0.3;
}

.header__search-button:disabled {
  opacity: 0.3;
}

.nav__link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.catalog__link:hover,
.nav__link:hover {
  opacity: 0.6;
}

.catalog__link:active,
.nav__link:active {
  opacity: 0.3;
}

.catalog__link:focus-visible:not(.catalog__link_current),
.nav__link:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.nav__link_current {
  position: relative;
}

.nav__link_current::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: calc(100% - 10px);
  height: 2px;
  background-color: var(--second-main-color);
}

.nav__user {
  display: flex;
  justify-content: space-between;
}

.nav__login {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 231px;
}

.nav__tool {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 238px;
  padding-right: 4px;
}

.nav__exit {
  visibility: hidden;
}

.nav__exit_active {
  visibility: visible;
}

.nav__exit_active > .nav__exit-text {
  opacity: 0.3;
}


.nav__enter-icon {
  margin-right: 8px;
}

.nav__enter-text {
  position: relative;
}

.nav__compare-icon {
  margin-right: 6px;
}

.nav__compare-text {
  position: relative;
}

.nav__link-cart {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0;
}

.popover-card {
  position: absolute;
  left: 40px;
  width: 320px;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}

.popover-card_active {
  display: block;
}

.popover-card::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='6' viewBox='0 0 14 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6H0l7-6 7 6Z' fill='%23000'/%3E%3C/svg%3E");
}

.popover-card__content {
  display: flex;
  flex-direction: column;
  background-color: var(--second-main-color);
}

.popover-card__list {
  padding-left: 0;
  list-style-type: none;
}

.popover-card__item {
  position: relative;
  padding: 20px;
}

.popover-card__link {
  display: block;
  max-width: 220px;
}

.popover-card__link:hover {
  opacity: 0.6;
}

.popover-card__link:active {
  opacity: 0.3;
}

.popover-card__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.popover-card__figure {
  display: flex;
  align-items: flex-start;
  margin: 0;
  color: var(--first-main-color);
}

.popover-card__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--first-main-color);
  opacity: 0.1;
}

.popover-card__img {
  margin-right: 23px;
}

.popover-card__figcaption {
  font-size: 16px;
  line-height: 20px;
}

.popover-card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 .9 9.1 0 5 4.1.9 0 0 .9 4.1 5 0 9.1l.9.9L5 5.9 9.1 10l.9-.9L5.9 5 10 .9Z' fill='%23fff'/%3E%3C/svg%3E");
}

.popover-card__delete:hover {
  opacity: 0.6;
}

.popover-card__delete:active {
  opacity: 0.3;
}

.popover-card__delete:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.popover-card__sum {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: var(--nero-color);
}

.popover-card__sum-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--first-main-color);
  font-size: 16px;
  line-height: 20px;
}

.popover-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin: 20px;
  padding: 5px;
  background-color: var(--first-main-color);
}

.popover-card__button:not(.popover-card__button_disabled):hover {
  background-color: var(--first-additional-color);
}

.popover-card__button:not(.popover-card__button_disabled):active > .popover-card__button-text {
  opacity: 0.3;
}

.popover-card__button:not(.popover-card__button_disabled):focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.popover-card__button_disabled {
  cursor: inherit;
  opacity: 0.3;
  outline: none;
}

.shopping-cart__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin-right: 22px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50%;
  background-color: var(--first-main-color);
  z-index: 1;
}

.nav__cart-text {
  position: relative;
}

.nav__cart-text::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -28px;
  width: 16px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.3 5.39-3.5.2L8.6.69c-.1-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3l-3.2 4.9H.7c-.4 0-.7.3-.7.7v.2l1.9 6.8c.2.7.7 1.1 1.4 1.1h9.4c.7 0 1.2-.4 1.4-1.1l1.9-6.9v-.2c0-.4-.3-.8-.7-.8ZM8 2.29l2.2 3.2H5.9L8 2.29Z' fill='%23000'/%3E%3C/svg%3E");
}

.nav__catalog-button {
  position: relative;
  width: fit-content;
  padding-left: 0;
  padding-right: 66px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: start;
}

.catalog-button-toggle {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 2px solid var(--second-main-color);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.3;
  z-index: 1;
}

.catalog-button-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--second-main-color);
}

.catalog-button-toggle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.2s ease-in;
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--second-main-color);
}

.nav__catalog-button:hover > .catalog-button-toggle,
.nav__catalog-button:active > .catalog-button-toggle {
  opacity: 1;
}

.nav__catalog-button:hover > .catalog-button-toggle::after {
  transform: rotate(90deg);
}

.nav__catalog-button:focus-visible {
  outline-offset: 6px;
  outline: 2px solid var(--third-additional-color);
  z-index: 1;
}

.nav__main {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  list-style-type: none;
}

.nav__link-delivery {
  margin-right: 44px;
}

.nav__link-warranty {
  margin-right: 47px;
}

.catalog__popover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px 60px 27px 60px;
  display: none;
  background-color: var(--first-additional-color);
  box-sizing: border-box;
}

.catalog__popover_active {
  display: flex;
}

.catalog__column {
  min-height: 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__column-first {
  min-width: 222px;
  margin-right: 30px;
}

.catalog__column-second {
  min-width: 211px;
  margin-right: 1px;
}

.catalog__column-third {
  min-width: 211px;
}

.catalog__link_current {
  position: relative;
}

.catalog__link {
  font-size: 16px;
  line-height: 18px;
}

.catalog__link_current::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--second-main-color);
}

.catalog__link_current:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

/* index main */

.main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.slider {
  margin-top: -14px;
}

.slider > .container {
  position: relative;
}

.slider__selector {
  position: absolute;
  top: 210px;
  width: 20px;
  height: 60px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='60' viewBox='0 0 20 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h3.5L20 30 3.5 60H0l16.2-30L0 0Z' fill='%23000'/%3E%3C/svg%3E");
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.slider__selector:hover {
  opacity: 0.6;
}

.slider__selector:active {
  opacity: 0.3;
}

.slider__selector:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.slider__selector:disabled {
  opacity: 0.1;
}

.slider__selector-previous {
  left: 30px;
  transform: rotate(180deg);
}

.slider__selector-next {
  left: 540px;
}

.slider__switches {
  position: absolute;
  right: 0;
  bottom: 173px;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.slider__switch:not(:last-child) {
  margin-right: 20px;
}

.slider__switch {
  line-height: 0;
}

.slider__switch-button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: inherit;
  border-color: var(--second-main-color);
  box-sizing: border-box;
  cursor: pointer;
}

.slider__switch-button:hover {
  opacity: 0.6;
}

.slider__switch-button:active {
  opacity: 0.3;
}

.slider__switch:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.slider__switch-button:disabled {
  opacity: 0.1;
}

.slider__switch-button_current {
  background-color: var(--second-main-color);
}

.slider__figure {
  display: none;
  margin: 0;
  background-image: linear-gradient(
    var(--first-additional-color) 150px,
    var(--first-main-color) 150px
  );
}

.slider__figure_active {
  display: flex;
}

.slider__image {
  margin-right: 40px;
}

.slider__number {
  margin-top: 82px;
  margin-bottom: 0;
  margin-right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: var(--first-main-color);
}

.slider__title {
  margin-top: 11px;
  margin-bottom: 28px;
  z-index: 5;
}

.slider__text {
  margin-top: 0;
  margin-bottom: 60px;
}

.slider__button-details {
  margin-bottom: 58px;
  width: 100%;
  max-width: 222px;
}

.slider__description {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__description-inner:not(:last-child) {
  margin-right: 20px;
}

.slider__description_large .slider__description-inner:not(:last-child) {
  margin-right: 40px;
}

.slider__description-thesis {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
}

.slider__description-data {
  margin-left: 0;
  font-size: 16px;
  line-height: 30px;
  color: var(--first-background-color);
}

.category {
  padding: 70px 0;
}

.categiry__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categiry__item {
  display: block;
  min-height: 253px;
  box-sizing: border-box;
}

.categiry__item:hover > .categiry__icon-box {
  background-color: var(--second-additional-color);
}

.categiry__item:active {
  opacity: 0.3;
}

.categiry__item:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.categiry__icon-box {
  display: flex;
  min-height: 160px;
  width: 100%;
  margin-bottom: 33px;
  background-color: var(--first-additional-color);
}

.categiry__icon {
  margin: auto;
}

.categiry__icon_second {
  margin-bottom: 0;
}

.categiry__item-text {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--second-main-color);
}

.advantages {
  margin-bottom: 71px;
  padding-bottom: 72px;
  background-image: linear-gradient(transparent 102px, var(--fourth-background-color) 102px);
}

.advantages > .container {
  display: flex;
}

.advantages__list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  row-gap: 35px;
  margin: 0;
  padding: 64px 0 64px 0;
  width: 100%;
  max-width: 288px;
  list-style-type: none;
}

.advantages__list::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background-color: var(--second-main-color);
}

.advantages__list > li {
  display: flex;
  align-items: center;
}

.advantages__button {
  width: 100%;
  max-width: 160px;
}

.advantages__button_current {
  display: block;
  min-width: 100%;
  height: 100%;
  border: none;
  background-color: var(--second-main-color);
  background-image: none;
  color: var(--first-additional-color);
  text-align: start;
}

.advantages__button_current > .advantages__button-text {
  display: block;
  max-width: 160px;
  text-align: center;
}

.advantages__button_current:hover > .advantages__button-text {
  opacity: 0.5;
}

.advantages__button_current:active > .advantages__button-text {
  opacity: 0.3;
}

.advantages__button_current:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.advantages__descriptions {
  position: relative;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 74px 203px 0 116px;
}

.advantages__description {
  display: none;
}

.advantages__description_active {
  display: block;
}

.advantages__description::after {
  position: absolute;
  content: "";
  top: 77px;
  right: 63px;
}

.advantages__delivery::after {
  width: 136px;
  height: 165px;
  background-image: url("data:image/svg+xml,%3Csvg width='136' height='165' viewBox='0 0 136 165' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M93.13 39.27c8.12 0 14.95-5.54 16.9-13.05l5.47.81a2.16 2.16 0 0 0 .64-4.27l-5.55-.82v-.68s-.46-6.52-1.08-9.24c-.62-2.72-2.54-3.3-2.54-3.3A111.85 111.85 0 0 0 84.6 6.3c-2.6 0-3.16 1.33-3.16 1.33l-3.15 5-.23.36-.02.05a17.46 17.46 0 0 0 15.1 26.24ZM131.53 78.58 104.8 76.4l-9.24-21.12s-.46-2.77-6.01-8.47c-5.55-5.7-16.8-3.4-16.8-3.4s-23.89 4.48-31.75 6.33c-7.86 1.85-8.16 9.86-8.16 9.86l-.64 4.52-15.17-2.94a2.99 2.99 0 0 0-3.52 2.37L6.1 101.8a3 3 0 0 0 2.37 3.52l51.2 9.92.35.04c-.73.1-1.3-.04-1.3-.04l-9.4-1.85-3.07 17.1-23.56 20.37a7.41 7.41 0 0 0 4.63 13.23 7.4 7.4 0 0 0 5.22-2.15s27.73-22.04 29.58-23.59c1.85-1.54 2.77-3.85 2.77-3.85s4.54-13.95 5.78-16.87c.85-2 4.93-1.08 4.93-1.08l22.89 8.63 7.61 29.06a7.43 7.43 0 1 0 14.59-2.7c-.84-4.97-4.6-27.05-5.56-31.83-1.08-5.4-4.62-6.94-4.62-6.94s-21.27-11.55-22.66-12.33c-1.38-.77-1.08-2.77-1.08-2.77l3.93-14.33 2.78 5.85s1.62 3.28 4.08 3.4l33.36.82a7.43 7.43 0 0 0 .63-14.83ZM60.1 63.3l-1.79 5.88 9.9 1.92L48 67.19l.55-2.5 11.55-1.38Zm-2.25 45.47L12.55 100l6.27-32.35 12.54 2.43-1.62 11.56-.64 4.41v.08l-.03.13a7.43 7.43 0 1 0 14.74.01l2.9-13.22 17.42 3.37-6.28 32.36ZM25.05 17.5h38.03a2 2 0 0 0 2-1.98 2 2 0 0 0-2-2H25.05a2 2 0 0 0-2 2 2 2 0 0 0 2 1.99ZM38.08 23.52a2 2 0 0 0-2 2 2 2 0 0 0 2 1.98h22.96a2 2 0 0 0 2-1.99 2 2 0 0 0-2-1.99H38.08Z' fill='%23fff'/%3E%3Cpath d='M87.1 33.23c8.12 0 14.94-5.54 16.9-13.05l5.47.82.31.02a2.16 2.16 0 0 0 .32-4.29l-5.54-.83v-.13l-.01-.55s-.45-6.51-1.08-9.23c-.62-2.72-2.53-3.3-2.53-3.3A111.85 111.85 0 0 0 78.56.25c-2.6 0-3.15 1.34-3.15 1.34l-3.15 5-.01-.01-.22.37-.03.04a17.47 17.47 0 0 0 15.1 26.24ZM125.5 72.54l-26.74-2.17-9.25-21.11s-.46-2.77-6-8.48c-5.56-5.7-16.8-3.39-16.8-3.39s-23.9 4.47-31.75 6.32c-7.86 1.85-8.17 9.86-8.17 9.86l-3.08 22.04-.64 4.4-.01.09-.02.12a7.43 7.43 0 1 0 14.73.01l4.74-21.57 11.56-1.39-1.8 5.88 9.9 1.92a3.01 3.01 0 0 1 2.38 3.52l-7.41 38.24a3.01 3.01 0 0 1-2.95 2.43l-.22-.02c-.73.1-1.29-.04-1.29-.04l-9.4-1.84-3.08 17.1-23.56 20.36a7.41 7.41 0 0 0 4.64 13.23 7.4 7.4 0 0 0 5.22-2.14s27.72-22.05 29.57-23.6c1.85-1.53 2.77-3.84 2.77-3.84s4.54-13.95 5.78-16.88c.85-2 4.93-1.08 4.93-1.08l22.89 8.63 7.62 29.07a7.43 7.43 0 1 0 14.59-2.7c-.85-4.98-4.61-27.06-5.57-31.84-1.08-5.4-4.62-6.93-4.62-6.93S83.19 95.18 81.81 94.4c-1.39-.77-1.08-2.77-1.08-2.77l3.93-14.33 2.77 5.85s1.62 3.28 4.09 3.4l33.35.81a7.43 7.43 0 0 0 .63-14.83Z' fill='%233A3A3A'/%3E%3Cpath d='m53.97 109.64.22.03c1.41 0 2.67-1 2.95-2.44L64.55 69a3.01 3.01 0 0 0-2.37-3.52l-20.22-3.91-1.28 5.86 17.41 3.37-6.27 32.36-45.3-8.78 6.27-32.35 12.54 2.43.83-5.95-15.18-2.95a2.99 2.99 0 0 0-3.51 2.38L.05 96.17a3 3 0 0 0 2.38 3.52l51.2 9.92c.11.02.22.03.34.03Z' fill='%23F0C42E'/%3E%3Cpath d='M59.04 9.48a2 2 0 0 1-2 2H19.01a2 2 0 0 1-2-2 2 2 0 0 1 2-1.99h38.03a2 2 0 0 1 2 2ZM57 19.48a2 2 0 0 1-2 1.99H32.04a2 2 0 0 1-2-1.99 2 2 0 0 1 2-1.99H55a2 2 0 0 1 2 1.99Z' fill='%23F0C52E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .5)' d='M0 0h136v164H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.advantages__warranty::after {
  width: 171px;
  height: 195px;
  background-image: url("data:image/svg+xml,%3Csvg width='171' height='195' viewBox='0 0 171 195' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M77.7 174.64c-.11-.13-10.5-13-12.61-15.76a6.86 6.86 0 0 0-5.6-2.68c-2.56 0-4.83 1.17-5.51 1.55l-5.49 2.74c-1.77-.48-5.58-1.95-9.28-6.26-3.28-3.84-3.26-8.99-3.08-11.1l5.9-5.9a6.56 6.56 0 0 0 1.24-8.43l-.22-.3L28.38 110a5.2 5.2 0 0 0-4.18-1.94c-2.85 0-5.88 1.97-6.76 2.59C6.56 118.4 5.86 125.2 5.81 125.96l-.02.42.07.4c6.41 35.73 26.03 51.14 35.45 58.55 1.15.9 2.14 1.68 2.86 2.3A25.53 25.53 0 0 0 60.72 194c2.38 0 4.48-.4 6.09-1.17 4.37-2.08 9.43-8.01 10.87-9.78 2.5-3.06 1.29-6.6.17-8.2l-.16-.21ZM63.8 186.5c-.5.24-1.57.49-3.08.49a18.7 18.7 0 0 1-11.94-4.63c-.86-.75-1.92-1.58-3.14-2.55-8.7-6.82-26.73-21-32.78-53.68.29-.98 1.83-4.94 8.62-9.77.65-.45 1.5-.9 2.12-1.14l13.5 17.03-7.53 7.53-.2 1.05c-.08.42-1.91 10.4 4.52 17.94 6.29 7.35 13.25 8.66 14.59 8.85l1.08.16 7.64-3.83.22-.11a5.28 5.28 0 0 1 2.16-.65 1632.26 1632.26 0 0 0 12.5 15.64c-2.56 3.09-6.17 6.66-8.28 7.67ZM137.85 65.82c5.51-5.17 7.16-11.97 5.03-20.78a2.5 2.5 0 0 0-4.1-1.27l-8.22 7.4c-1.44-.8-3.68-2.45-4.47-5.33l6.8-6.73c.95-.94 1-2.45.11-3.44l-.19-.21c-.19-.22-.42-.4-.67-.53a20.4 20.4 0 0 0-8.83-2.12c-4.7 0-8.86 1.92-12 5.56-6 6.94-4.56 15.04-3.54 18.47l-3.49 3.49L94 51.09l4.71-3.27L78.67 34.1l-10.6 10.6 13.72 20.04 3.27-4.71L94.3 70.3 91 73.6a22.31 22.31 0 0 0-6.66-1.06 18.22 18.22 0 0 0-13.96 6.36c-.27.33-6.6 8.17-2.75 18.62a2.5 2.5 0 0 0 3.99 1.02l8.3-7.26c1.32.57 3.62 2.08 4.65 5.93l-7.38 7.51a2.5 2.5 0 0 0 1.22 4.19c.1.02 2.72.62 6.17.62 6.84 0 12.11-2.27 15.25-6.57a20.93 20.93 0 0 0 4-13.08l16.2 16.21.18.16a12.28 12.28 0 0 0 7.45 2.73c2.23 0 4.63-.74 6.85-2.83l5.52-5.51.1-.1c5.02-5.36 2.26-11.7.1-14.3L123.3 69.27c1.02.1 2.15.18 3.32.18 4.89 0 8.67-1.22 11.24-3.64Zm-53.3-13.84-2.73 3.95-7.28-10.63 4.73-4.73 10.63 7.28-3.95 2.73 14.79 13.29-4.1 4.09 1.2-1.2-13.29-14.78ZM98.11 85.5c.11.31 2.62 7.75-2.32 14.53-2.77 3.8-7.75 4.53-11.4 4.51l4.7-4.79c.56-.57.82-1.39.68-2.18-1.8-10.15-9.75-11.49-10.08-11.54-.73-.1-1.48.1-2.03.59l-6.2 5.43a14.7 14.7 0 0 1 2.75-9.93 13.13 13.13 0 0 1 10.13-4.57c3.51 0 6.23 1.21 6.25 1.22a2.5 2.5 0 0 0 2.82-.5l19-19a2.5 2.5 0 0 0 .52-2.76c-.03-.08-3.5-8.34 2.16-14.87a10.48 10.48 0 0 1 8.22-3.83c1.23 0 2.38.18 3.37.42l-5.05 5a2.5 2.5 0 0 0-.73 2.08c1.02 8.3 8.97 11.07 9.31 11.19.86.28 1.8.09 2.47-.52l6.05-5.44c.38 4.86-1.02 8.55-4.3 11.64-2.01 1.89-5.37 2.28-7.82 2.28-3.7 0-6.95-.86-6.99-.87a2.5 2.5 0 0 0-2.43.65L98.7 82.91c-.67.68-.89 1.69-.58 2.6Zm5.5 1.84v.01Zm-.18-1.12Zm33.1 10.86-5.48 5.48c-3.25 2.97-6.9.43-7.58-.1l-18.64-18.64 14.94-15.07-2.04 2.05 18.71 18.7c.46.6 3.1 4.3.09 7.58Zm-15.21-28.05Zm-.85-.15.07.01h-.07Z' fill='%23fff'/%3E%3Cpath d='M104.16 6a65.92 65.92 0 0 0-8.52 131.28v26.22s57.44-21.24 71.97-73.62l.2-.81.34-1.28.18-.77A65.92 65.92 0 0 0 104.17 6Zm57.35 79.42v.03l-.01.03-.03.13-.12.51-.3 1.16-.1.4-.09.33c-5.56 20.05-18.52 37.7-38.5 52.44a143.41 143.41 0 0 1-19.72 12.18V131.12l-6.1-.78a59 59 0 0 1-51.3-58.42A58.99 58.99 0 0 1 104.16 13a58.99 58.99 0 0 1 57.35 72.42Z' fill='%23fff'/%3E%3Cpath d='M54.58 188c-2.79 0-9.99-.62-16.55-6.37-.72-.62-1.7-1.4-2.86-2.3-9.42-7.4-29.04-22.82-35.45-58.55l-.07-.4.02-.42c.05-.75.75-7.56 11.63-15.31.88-.62 3.91-2.6 6.76-2.6 1.7 0 3.2.7 4.18 1.95l14.67 18.5.22.3a6.56 6.56 0 0 1-1.25 8.44l-5.9 5.89c-.17 2.11-.19 7.26 3.1 11.1 3.69 4.31 7.5 5.79 9.27 6.27l5.5-2.75c.67-.38 2.94-1.55 5.5-1.55 2.29 0 4.27.95 5.6 2.68a1741.1 1741.1 0 0 0 12.6 15.76l.16.2c1.11 1.61 2.33 5.15-.17 8.21-1.45 1.77-6.5 7.7-10.87 9.78-1.6.76-3.71 1.17-6.09 1.17ZM6.72 120.14c6.05 32.68 24.09 46.85 32.78 53.68 1.23.97 2.28 1.8 3.14 2.55A18.7 18.7 0 0 0 54.58 181c1.51 0 2.59-.25 3.08-.5 2.11-1 5.73-4.57 8.29-7.67-1.4-1.73-10.36-12.83-12.5-15.63h-.1c-.73 0-1.78.48-2.07.65l-.21.11-7.65 3.83-1.08-.16c-1.33-.19-8.3-1.5-14.58-8.85-6.44-7.53-4.61-17.52-4.53-17.94l.2-1.06 7.53-7.52-13.5-17.03c-.61.23-1.47.69-2.12 1.14-6.8 4.83-8.33 8.8-8.62 9.77Z' fill='%233A3A3A'/%3E%3Cpath d='M78.44 103.54c-3.45 0-6.06-.6-6.17-.62a2.5 2.5 0 0 1-1.22-4.19l7.38-7.52c-1.03-3.84-3.33-5.35-4.66-5.92l-8.29 7.26a2.5 2.5 0 0 1-4-1.02 19.63 19.63 0 0 1 2.76-18.62 18.22 18.22 0 0 1 13.96-6.36c2.78 0 5.16.57 6.66 1.05l16.77-16.76c-1.01-3.43-2.46-11.54 3.54-18.47a15.48 15.48 0 0 1 12-5.56c4.84 0 8.67 2.03 8.83 2.12.25.13.48.31.68.53l.18.2c.9 1 .85 2.51-.1 3.45l-6.8 6.73c.78 2.88 3.02 4.54 4.46 5.33l8.22-7.4a2.5 2.5 0 0 1 4.1 1.27c2.13 8.8.48 15.6-5.03 20.78-2.57 2.42-6.35 3.64-11.24 3.64-2.79 0-5.32-.4-6.84-.71L97.13 79.4c.73 3.18 1.63 10.62-3.44 17.57-3.13 4.3-8.4 6.57-15.25 6.57Zm-.2-5c3.66.01 8.64-.71 11.4-4.51 4.95-6.78 2.44-14.22 2.34-14.53-.32-.9-.1-1.91.58-2.6l18.5-18.66a2.5 2.5 0 0 1 2.43-.65c.03 0 3.3.87 6.98.87 2.46 0 5.81-.4 7.82-2.28 3.29-3.1 4.68-6.78 4.3-11.64l-6.04 5.44c-.67.6-1.62.8-2.47.51-.34-.11-8.3-2.89-9.31-11.19a2.5 2.5 0 0 1 .72-2.08l5.05-5c-.98-.23-2.14-.41-3.37-.41-3.25 0-6.02 1.29-8.22 3.82-5.65 6.54-2.19 14.8-2.15 14.88.4.94.2 2.03-.53 2.76l-19 19a2.5 2.5 0 0 1-2.82.5c-.02-.01-2.73-1.22-6.25-1.22-4 0-7.4 1.53-10.12 4.56-.35.45-3.29 4.38-2.76 9.94l6.2-5.43a2.5 2.5 0 0 1 2.03-.6c.34.06 8.29 1.4 10.08 11.54a2.5 2.5 0 0 1-.68 2.2l-4.7 4.78Z' fill='%23F0C42E'/%3E%3Cpath d='m78.92 54.03 9.24 10.28 3.54-3.54-13.29-14.8-2.73 3.96L68.4 39.3l4.73-4.73 10.63 7.28-3.95 2.73L94.6 57.87l3.54-3.55-10.28-9.23 4.71-3.27L72.53 28.1l-10.6 10.6 13.73 20.04 3.26-4.71ZM117.15 63.28a37.19 37.19 0 0 1-3.52-.53l-2.03 2.05 18.7 18.7c.46.6 3.1 4.3.09 7.58l-5.48 5.47c-3.25 2.98-6.9.44-7.58-.08L98.7 77.82l-1.56 1.58c.24 1.07.5 2.63.55 4.48l16.22 16.22.17.16a12.28 12.28 0 0 0 7.45 2.72c2.23 0 4.63-.74 6.86-2.82l5.51-5.51.1-.1c5.02-5.37 2.26-11.7.1-14.31l-16.94-16.96Z' fill='%233A3A3A'/%3E%3Cpath d='M98.02 7a58.99 58.99 0 0 1 57.35 72.42v.03l-.01.03-.03.13a36.36 36.36 0 0 1-.42 1.67l-.1.4-.09.33c-5.56 20.05-18.52 37.7-38.5 52.44a143.42 143.42 0 0 1-19.72 12.17v-21.5l-6.1-.79a59 59 0 0 1-51.3-58.4A58.99 58.99 0 0 1 98.02 7Zm0-7a65.92 65.92 0 0 0-8.52 131.28v26.22s57.44-21.24 71.97-73.62l.21-.81.33-1.28.18-.77A65.92 65.92 0 0 0 98.03 0Z' fill='%233A3A3A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h171v195H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.advantages__credit::after {
  width: 156px;
  height: 188px;
  background-image: url("data:image/svg+xml,%3Csvg width='156' height='189' viewBox='0 0 156 189' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M141.25 84.13a14.75 14.75 0 1 0 0-29.5 14.75 14.75 0 0 0 0 29.5ZM89.11 140.04l-7.07 17.88-22.82 14.92a7.16 7.16 0 1 0 7.65 12.08c3.76-2.37 22.35-14.08 25.5-15.88 3.5-2 4.12-5.12 4.12-5.12l4.87-16-5.75-2.63c-5.75-2.62-6.5-5.25-6.5-5.25Z' fill='%23fff'/%3E%3Cpath d='M139.32 141.96s-1.16-3.83-4.58-5.17c-3.42-1.33-18.09-7.75-18.09-7.75l15.42-25.58s3.84-9-.33-13.42c-4.17-4.41-13.75-9.75-13.75-9.75h-7.52l15.8-26.8a12.03 12.03 0 0 0-4.25-16.43L72.63 7.95a12.03 12.03 0 0 0-16.43 4.24L9.14 92.02a12.04 12.04 0 0 0 4.25 16.43l49.39 29.11a12.04 12.04 0 0 0 16.43-4.24l22.93-38.9h8.1l-14.75 26.2s-5.13 9.22-.33 14.26c4.2 4.41 12.66 6.91 12.66 6.91l17.25 6.5 5.1 31.3h.01a7.16 7.16 0 0 0 14.2-1.7l.04-.01-5.1-35.92ZM17.96 100.7a3.04 3.04 0 0 1-1.06-4.11l47.06-79.83a3.04 3.04 0 0 1 4.1-1.06l11.52 6.8-50.1 84.99-11.52-6.8Zm53.5 28.05a3.04 3.04 0 0 1-4.11 1.06l-30.12-17.75 50.11-85 30.11 17.76c1.4.82 1.89 2.7 1.06 4.1L100.03 80.3h-8.78L71.32 94.72c-.44.25-.85.56-1.23.9l-.03.02a7.17 7.17 0 0 0 8.96 11.14l.08-.06c.18-.13.35-.27.52-.42l9.66-7.78-17.82 30.23Z' fill='%23fff'/%3E%3Cpath d='M49.22 6.44 2.16 86.27A12.04 12.04 0 0 0 6.4 102.7l49.4 29.12a12.04 12.04 0 0 0 16.43-4.24l47.05-79.83a12.03 12.03 0 0 0-4.24-16.44L65.65 2.2a12.04 12.04 0 0 0-16.43 4.24Zm-39.3 84.4 47.05-79.83a3.04 3.04 0 0 1 4.11-1.06l11.52 6.8-50.1 85-11.53-6.8a3.04 3.04 0 0 1-1.06-4.1Zm101.61-47.66L64.47 123a3.04 3.04 0 0 1-4.1 1.07L30.24 106.3l50.1-85 30.12 17.76c1.4.82 1.89 2.7 1.06 4.1Z' fill='%23F0C42E'/%3E%3Cpath d='M135.25 78.33a14.75 14.75 0 1 0 0-29.5 14.75 14.75 0 0 0 0 29.5ZM81.88 134.25l-7.08 17.88-22.82 14.91a7.16 7.16 0 1 0 7.65 12.09c3.76-2.37 22.35-14.09 25.5-15.88 3.5-2 4.12-5.13 4.12-5.13l4.88-16-5.75-2.62c-5.75-2.63-6.5-5.25-6.5-5.25ZM132.08 136.17s-1.16-3.84-4.58-5.17-18.08-7.75-18.08-7.75l15.41-25.58s3.84-9-.33-13.42-13.75-9.75-13.75-9.75H84L64.08 88.93a7.2 7.2 0 0 0-1.23.89l-.03.02a7.17 7.17 0 0 0 8.96 11.14l.08-.05.52-.43 14.75-11.88H103l-14.75 26.21s-5.13 9.22-.33 14.25c4.2 4.42 12.66 6.92 12.66 6.92l17.25 6.5 5.1 31.29h.01a7.16 7.16 0 0 0 14.2-1.7h.04l-5.1-35.92Z' fill='%233A3A3A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .5)' d='M0 0h156v188H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 34px;
}

.advantages__text {
  max-width: 454px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--first-background-color);
}

.delivery {
  min-height: 100px;
  margin-bottom: 70px;
}

.delivery__link {
  display: flex;
  min-height: 100px;
}

.delivery__link:hover > .delivery__icon {
  background-color: var(--second-additional-color);
}

.delivery__link:hover .information-icon {
  opacity: 1;
}

.delivery__link:active {
  opacity: 0.3;
}

.delivery__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.delivery__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 125px;
  background-color: var(--first-additional-color);
}

.delivery__text-wrapper {
  flex-grow: 1;
  background-color: var(--fourth-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__text {
  padding-left: 4px;
  padding-top: 7px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.delivery__information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 125px;
  background-color: var(--fourth-background-color);
}

.information-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--very-light-gray);
}

.information-icon {
  opacity: 0.3;
}

.index-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 95px;
  margin-bottom: 79px;
}

.index-column > section {
  position: relative;
}

.index-column > section::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: var(--second-main-color);
}

.about-us .title,
.contacts .title {
  margin-top: 49px;
  margin-bottom: 46px;
}

.about-us__text {
  display: grid;
  grid-template-columns: 497px;
  row-gap: 30px;
  margin-bottom: 30px;
  color: var(--first-background-color);
}

.about-us__text > p {
  margin: 0;
}

.about-us__deliveries {
  display: grid;
  row-gap: 19px;
  margin-bottom: 40px;
  padding-left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  list-style-type: none;
}

.about-us__deliveries li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 26px;
  background-color: var(--second-additional-color);
}

.about-us__button {
  width: 100%;
  max-width: 270px;
}

.contacts address {
  font-style: normal;
}

.contacts__text {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin-bottom: 40px;
  color: var(--first-background-color);
}

.contacts__text > p,
.contacts__text > dl,
.contacts__text dd {
  margin: 0;
}

.contacts__text dt {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts__button {
  width: 100%;
  max-width: 259px;
}

.subscription {
  padding-top: 66px;
  padding-bottom: 55px;
  box-sizing: border-box;
  background-color: var(--fourth-background-color);
}

.subscription__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  margin: 0 0 143px 7px;
}

.subscription__text > dd {
  padding-top: 8px;
  align-self: center;
  margin-left: 0;
  color: var(--first-background-color);
}

.subscription__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription__checked {
  position: relative;
  padding-right: 2px;
}

.subscription__checked::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -30px;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 0 4.9 9.3.5 5v4.7L5 14l9.5-9.3V0Z' fill='%2308AF00'/%3E%3C/svg%3E");
}

.subscription__form {
  display: flex;
  padding-left: 1px;
}

.subscription__input {
  min-width: 557px;
  min-height: 57px;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 3px;
  border-color: var(--fifth-background-color);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--first-background-color);
}

.subscription__input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--first-background-color);
  opacity: 0.5;
}

.subscription__input:focus-visible {
  background-color: var(--second-background-color);
  outline: none;
}

.subscription__input:not(:placeholder-shown):invalid {
  border-color: var(--error-status-color);
}

.subscription__input:disabled {
  opacity: 0.3;
}

.subscription__button {
  min-width: 254px;
  border: 3px solid var(--fifth-background-color);
  cursor: pointer;
  box-sizing: border-box;
}

.subscription__button:hover:not(:disabled) {
  background-color: var(--second-main-color);
  border-color: var(--second-main-color);
  color: var(--first-main-color);
}

.subscription__button:active:not(:disabled) {
  background-color: var(--second-main-color);
  border-color: var(--second-main-color);
  color: var(--first-main-color);
}

.subscription__button:active:not(:disabled) > span {
  opacity: 0.3;
}

.subscription__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.subscription__checked {
  margin: 0;
  border-color: var(--first-background-color);
}

.subscription__button:disabled {
  opacity: 0.3;
}

/* catalog main */

.breadcrumbs-section {
  padding-left: 60px;
  margin-top: 37px;
  margin-bottom: 28px;
}

.breadcrumbs-section > h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.breadcrumbs > li {
  position: relative;
}

.breadcrumbs > li:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs > li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 4px;
  height: 7px;
  transform: translateY(-50%);
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.8 3.1-3-3C.6-.1.3-.1.1.1 0 .3 0 .7.1.9l2.6 2.6L.1 6.1c-.1.2-.1.5 0 .7.1.1.3.2.4.2.1 0 .3-.1.4-.1l3-3c0-.1.1-.3.1-.4 0-.1-.1-.3-.2-.4Z' fill='%23000'/%3E%3C/svg%3E");
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__link:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.catalog-wrapper {
  background-color: var(--fourth-background-color);
}

.catalog-wrapper > .container {
  display: flex;
}

.filter-section {
  width: 100%;
  max-width: 320px;
  padding: 25px 40px 25px 60px;
  box-sizing: border-box;
}

.filter__title {
  margin-top: 0;
  margin-bottom: 73px;
}

.filter__fieldset {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.filter__fieldset::before {
  content: "";
  position: absolute;
  top: -62px;
  width: 200px;
  height: 2px;
  background-color: var(--second-main-color);
}

.filter__fieldset:not(:last-of-type) {
  margin-bottom: 47px;
}

.filter__fieldset:last-of-type {
  margin-bottom: 48px;
}

.fieldset__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.fieldset_second::before {
  top: -54px;
}

.fieldset_second > .fieldset__title {
  margin-bottom: 20px;
}

.range__scale {
  position: relative;
  margin-bottom: 8px;
  width: 200px;
  height: 2px;
  background-color: var(--second-background-color);
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: var(--second-main-color);
}

.range__toggle-wrapper {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--third-background-color);
}

.range__toggle-wrapper-min {
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.range__toggle-wrapper-max {
  top: 50%;
  left: 109px;
  transform: translateY(-50%);
}

.range__toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 2px solid var(--second-main-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.range__toggle:hover {
  opacity: 0.5;
}

.range__toggle:active {
  border-color: var(--second-main-color);
  background-color: var(--second-main-color);
}

.range__toggle-wrapper:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.range__inputs {
  position: relative;
  display: flex;
  margin-bottom: 25px;
}

.range__input-label {
  position: absolute;
}

.range__input {
  width: 60px;
  border: none;
  background-color: transparent;
  appearance: textfield;
}

.range__input:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.range__input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: var(--second-main-color);
  opacity: 0.5;
}

.range__input-min {
  left: -14px;
}

.range__input-max {
  left: 86px;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.fieldset__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.fieldset__item {
  display: block;
  line-height: 20px;
}

.fieldset__item:not(:last-of-type) {
  margin-bottom: 17px;
}

.control {
  position: relative;
}

.control__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--seventh-background-color);
  box-sizing: border-box;
}

.control__input[type="checkbox"] + .control__mark {
  border-radius: 3px;
}

.control__label {
  padding-left: 36px;
  font-size: 16px;
  line-height: 19px;
}

.control__input[type="checkbox"]:checked + .control__mark {
  border-color: var(--second-main-color);
}

.control__input[type="checkbox"]:checked + .control__mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0 3.1 6.6 0 3.6v3.3L3.2 10 10 3.3V0Z' fill='%23000'/%3E%3C/svg%3E");
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark {
  border-color: var(--second-main-color);
}

.control__input[type="radio"]:checked + .control__mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--second-main-color);
  border-radius: 50%;
}

.control__input:hover + span,
.control__input:hover ~ .control__label {
  opacity: 0.6;
}

.control__input:active + span,
.control__input:active ~ .control__label {
  opacity: 0.3;
}

.control__input:focus-visible + span::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: 2px solid var(--third-additional-color);
}

.control__input:disabled + span,
.control__input:disabled ~ .control__label {
  opacity: 0.1;
}

.filter__button {
  width: 100%;
  cursor: pointer;
}

.catalog-section {
  flex-grow: 1;
}

.catalog__sort {
  display: flex;
  min-height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
}

.sort__text {
  margin-top: 0;
  margin-bottom: 0;
}

.sort__select {
  width: 100%;
  max-width: 141px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 30px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 5.83 3.84-4.5c.25-.3.25-.8 0-1.1a.56.56 0 0 0-.9 0l-3.44 4-3.44-4a.56.56 0 0 0-.9 0c-.08.2-.16.4-.16.6 0 .2.08.4.16.5l3.85 4.5c.33.3.66.3.98 0Z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 11px center;
  cursor: pointer;
}

.sort__select:hover {
  opacity: 0.6;
}

.sort__select:active {
  opacity: 0.3;
}

.sort__select:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.sort__select:disabled {
  opacity: 0.3;
}

.sort__button-wrapper {
  display: flex;
}

.sort__button-inner {
  width: 30px;
  height: 30px;
}

.sort__button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
}

.sort__button:hover {
  opacity: 0.5;
}

.sort__button:active {
  opacity: 1;
}

.sort__button:focus {
  outline: none
}

.sort__button-inner:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.sort__button-more {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 0 5.5 10H.5' fill='%23000'/%3E%3C/svg%3E");
}

.sort__button-less {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 0 5.5 10H.5' fill='%23000'/%3E%3C/svg%3E");
  transform: rotate(180deg);
}

.catalog__inner {
  padding: 70px 40px 77px 40px;
  background-color: var(--first-main-color);
}

.card__list {
  margin-top: 0;
  margin-bottom: 44px;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
  list-style-type: none;
}

.card__item_new .card__figure::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--second-main-color);
  opacity: 0.6;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--second-main-color);
}

.card__link {
  position: relative;
  display: block;
}

.card__link:hover::after {
  content: "Подробнее";
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 220px;
  min-height: 20px;
  background-image: linear-gradient(
    transparent 33%,
    var(--first-additional-color) 33%,
    var(--first-additional-color) 66%,
    transparent 66%
  );
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__link:hover > .card__figure {
  opacity: 0.4;
}

.card__link:active::after {
  content: "Подробнее";
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 220px;
  min-height: 20px;
  background-image: linear-gradient(
    transparent 33%,
    var(--second-additional-color) 33%,
    var(--second-additional-color) 66%,
    transparent 66%
  );
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.card__figure {
  margin: 0;
}

.card__img {
  margin-bottom: 32px;
}

.card__description {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.card__name {
  max-width: 205px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.card__price {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 21px;
  color: var(--first-background-color);
}

.catalog__more-button {
  width: 100%;
  min-height: 55px;
  margin-bottom: 44px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid var(--sixth-background-color);
  background-color: transparent;
  cursor: pointer;
}

.catalog__more-button:hover:not(:disabled) {
  border-color: var(--second-main-color);
}

.catalog__more-button:active {
  color: var(--sixth-background-color);
  border-color: var(--sixth-background-color);
}

.catalog__more-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.catalog__more-button:disabled {
  opacity: 0.3;
}

.catalog__pagination {
  display: flex;
  justify-content: space-between;
  background-color: var(--third-background-color);
}

.pagination__button {
  padding: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination__button:hover {
  background-color: var(--second-background-color);
}

.pagination__button:active > .pagination__button-text {
  opacity: 0.3;
}

.pagination__button:focus-visible {
  background-color: var(--fourth-background-color);
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.pagination__pages {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.pagination__page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--first-background-color);
  box-sizing: border-box;
  opacity: 0.3;
}

.pagination__page-link:hover {
  opacity: 1;
}

.pagination__page-link:active {
  opacity: 0.1;
}

.pagination__page-link:focus {
  outline: none;
}

.pagination__page:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

/* footer */

.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-height: 321px;
  padding-top: 62px;
  padding-bottom: 61px;
  box-sizing: border-box;
  background-color: var(--first-background-color);
}

.footer__logo {
  display: block;
  max-width: 145px;
  margin-bottom: 28px;
}

.footer__items-box {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  justify-items: center;
  align-items: center;
  row-gap: 46px;
  list-style-type: none;
  color: var(--first-main-color);
}

.footer__address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-self: start;
  min-width: 457px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer__link {
  display: block;
  padding: 3px 5px;
}

.link_phone:hover,
.footer__link:hover {
  color: var(--second-additional-color);
}

.link_phone:active,
.footer__link:active {
  color: var(--second-additional-color);
  opacity: 0.3;
}

.link_phone:focus-visible,
.footer__link:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.footer__phone {
  justify-self: end;
  align-self: start;
  padding-top: 7px;
  padding-right: 2px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__free-cell {
  position: relative;
}

.footer__free-cell::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -120px;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: var(--second-additional-color);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--third-black-color);
  border-radius: 50%;
}

.social__link:hover {
  background-color: var(--second-additional-color);
}

.social__link:active > .social__icon {
  opacity: 0.3;
}

.social__link-wrapper:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.social__link:focus {
  outline: none;
}

.footer__sponsor {
  justify-self: end;
  align-self: center;
}

.sponsor-icon {
  display: block;
  fill: var(--second-additional-color);
}

.footer__sponsor:hover > .sponsor-icon {
  fill: var(--first-main-color);
}

.footer__sponsor:active > .sponsor-icon {
  fill: var(--first-main-color);
  opacity: 0.3;
}

.footer__sponsor:focus-visible > .sponsor-icon {
  fill: var(--second-additional-color);
}

.footer__sponsor:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--fourth-background-next-color);
  z-index: 1;
}

.modal_close {
  display: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 72px 80px;
  border: 10px solid var(--second-main-color);
  background-color: var(--first-main-color);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 2.36 23.64 0 13 10.64 2.36 0 0 2.36 10.64 13 0 23.64 2.36 26 13 15.36 23.64 26 26 23.64 15.36 13 26 2.36Z' fill='%23000'/%3E%3C/svg%3E");
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__close-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--third-additional-color);
}

.modal__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.modal__legend {
  margin-bottom: 42px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal__input {
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: var(--fourth-background-color);
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal__input-volume:valid ~ .spin-button,
.modal__input:valid {
  background-color: var(--third-background-color);
}

.modal__input_first:not(:placeholder-shown):invalid {
  outline: 2px solid var(--error-status-color);
}

.modal__input:placeholder-shown + .input__without-text {
  display: block;
}

.modal__input:not(:placeholder-shown):invalid + .input__invalid-text {
  display: block;
}

.modal__input-volume:not(:disabled):hover ~ .spin-button,
.modal__input:not(:disabled):hover {
  background-color: var(--second-background-color);
}

.spin-button:focus-visible,
.modal__input:focus-visible {
  outline: 2px solid var(--third-additional-color);
  z-index: 1;
}

.modal__input_second:invalid {
  box-shadow:
    0 2px 0 0 var(--error-status-color),
    0 -2px 0 0 var(--error-status-color);
}

.modal__input_second:invalid ~ .spin-button_inner {
  box-shadow:
    0 0 0 2px var(--error-status-color);
}

.modal__input_second:invalid ~ .spin-button_outer {
  box-shadow:
    0 0 0 2px var(--error-status-color);
}

.modal__input:disabled {
  opacity: 0.3;
}

.input__text-helper {
  position: absolute;
  top: 100px;
  font-size: 14px;
  line-height: 20px;
}

.input__without-text {
  display: none;
  color: var(--second-main-color);
}

.input__invalid-text {
  display: none;
  color: var(--error-status-color);
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--second-main-color);
  opacity: 0.3;
}

.modal__input-name {
  width: 360px;
  margin-bottom: 62px;
  padding-right: 50px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12h13c-.2-2.6-2.1-4.8-4.7-5.5 1-.6 1.7-1.7 1.7-3C10 1.6 8.4 0 6.5 0S3 1.6 3 3.5c0 1.3.7 2.4 1.7 3C2.1 7.2.2 9.4 0 12Z' fill='%23B3B3B3'/%3E%3C/svg%3E");
}

.modal__input-email {
  width: 360px;
  padding-right: 50px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.6 8c-.4 0-.6-.1-1-.3L0 4v7c0 .6.4 1 .9 1h13.2c.6 0 .9-.4.9-1V4L8.5 7.7c-.4.2-.6.3-.9.3Zm6.5-8H.9C.4 0 0 .5 0 1v.8L7.5 6 15 1.8V1c0-.5-.4-1-.9-1Z' fill='%23B3B3B3'/%3E%3C/svg%3E");
}

.modal__input-object {
  width: 540px;
  margin-bottom: 52px;
}

.label-volume__wrapper {
  display: flex;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}

.tooltip__toggle {
  position: absolute;
  top: -3px;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--first-additional-color);
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='12' viewBox='0 0 2 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H0v2h2V0ZM2 4H0v8h2V4Z' fill='%23000'/%3E%3C/svg%3E");
}

.tooltip__toggle:focus-visible {
  outline: 2px solid var(--third-additional-color);
}

.tooltip__text {
  position: absolute;
  top: 33px;
  right: -35px;
  width: 200px;
  display: none;
  padding: 19px 17px 19px 19px;
  background-color: var(--second-main-color);
  font-size: 16px;
  line-height: 20px;
  color: var(--first-main-color);
  box-sizing: border-box;
  box-shadow: 0 10px 0 var(--second-main-nex-color);
  z-index: 2;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  right: 34px;
  bottom: 100%;
  transform: translateX(-50%);
  width: 14px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='6' viewBox='0 0 14 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6H0l7-6 7 6Z' fill='%23000'/%3E%3C/svg%3E");
}

.tooltip__toggle:hover + .tooltip__text,
.tooltip__toggle:focus + .tooltip__text {
  display: block;
}

.input-volume__wrapper {
  display: flex;
}

.modal__input-volume {
  order: 2;
  width: 60px;
  text-align: center;
  z-index: 1;
}

.modal__input-volume::-webkit-outer-spin-button,
.modal__input-volume::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.spin-button {
  width: 60px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.spin-button_inner {
  order: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0H0v2h16V0Z' fill='%23000'/%3E%3C/svg%3E");
}

.spin-button_outer {
  order: 3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7H9V0H7v7H0v2h7v7h2V9h7V7Z' fill='%23000'/%3E%3C/svg%3E");
}

.modal__form__button {
  width: 100%;
  max-width: 200px;
}
